
header{
  width:100%;
  height:100vh;
 
}

main{
  
  height:40vh;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.navbar{
  width:100%; height:7vh;
  display: flex; 
  align-items:center;
  position: fixed;
  top: 0;
 
}
p{
  font-family: 'Cinzel', serif;
  font-weight:bolder;
  text-align: center;
  padding: 0px;
  font-size: 25px;
}
#quote{
  text-shadow:5px 5px 20px black;
  color:#032338;
}
#prevnotes{
  margin:5%;
  margin-left: 25%;
  margin-right: 25%;
  text-shadow:5px 5px 20px rgba(71, 70, 70, 0.014);
  color:#fff;
  background-color: rgb(65, 61, 61);
  text-align: center;
  border-radius: 100px;
}
h1{
  font-family: 'Akaya Kanadaka', cursive;
    font-weight:bolder;
    text-align: center;
    padding: 0px;
    font-size: 40px;
    color:rgb(34, 32, 32);
}
h2{
  font-family: 'Anton', sans-serif;
  font-weight:bold;
  margin-right:5%;
  margin-top:15%;
  text-align: center;
  padding: 5px;
  font-size: 25px;
  background-color: rgba(29, 29, 29, 0.719);
  color:rgb(234, 233, 245);
  box-shadow: 0 9px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}
a:link, a:visited {
    background-color: white;
    color: rgb(37, 36, 36);
    border: 2px solid rgb(123, 189, 219);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 4px;
  }
  
  a:hover, a:active {
    background-color: rgb(123, 189, 219);
    color: white;
  }
  img{
    text-align: center;
    border-radius: 1000px;
    padding: 55px;
    height:40vh
    
  }
  button{
    font-family: 'Nunito', sans-serif;
    background-color:rgb(48, 47, 47);
    border-radius: 5px;
    border: 2px solid #4c77af;
    display:inline-block;
    box-shadow: 0 9px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #FFFFFF;
    font-size: 15px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    opacity:1;
    margin-left: 27%;
    background-image: linear-gradient(bottom, rgb(41, 42, 43) 0%, rgb(97,155,203) 100%);
    background-image: -o-linear-gradient(bottom, rgb(30, 31, 32) 0%, rgb(97,155,203) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(40, 41, 43) 0%, rgb(97,155,203) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(64, 65, 66) 0%, rgb(97,155,203) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(24, 25, 26) 0%, rgb(97,155,203) 100%);
 
}
button:hover{
    opacity: 0.8;
}
textarea{
  box-shadow: 0 9px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

  